.content {
    padding: 30px;
    font-size: 14pt
}

.inkitt-paragraph {
    width: 100%;
}
.inkitt-paragraph p {
    width: 90%;
    display: block;
    float: left;
}
.inkitt-paragraph .comment {
    width: 5%;
    float: right;

}
.inkitt-comment-popover {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    display: none;
    margin-top: -45px
    
}
.inkitt-add-comment {
    position: absolute;
    width: 100%;
    display: none;

}
.inkitt-add-comment .comment-content {
    border: 1px solid lightgrey;
    border-radius: 5px;
    background: white;
    padding: 20px;
    margin: 10px;
    width: 300px;
    float: right;

}
.inkitt-add-comment .comment-content textarea {
    margin-bottom: 5px;
    height: 120px;
    width: 100%
}
